<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
<h2> name: </h2> <input type="text" name="name" id="name">
<h2> email: </h2> <input type="text" name="email" id="email">
<h2> password: </h2> <input type="text" name="password" id="password">
<input type="submit" name="Sign Up" id="Sign Up">
</form>

